@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #5F9BE3;
  font-weight: bold;
}
a.littleLink {
  font-size: 0.9rem;
  color: #5F9BE3;
  font-weight: normal;
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.loader {
  width: 34px;
  height: 34px;
  border: 5px solid #d8d8d8;
  border-bottom-color: #5F9BE3;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.hidden {
  display: none !important;
}

#scroll-mode {
  position: fixed;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
}

#scroll-mode.lefter {
  left: 10%;
}

@media screen and (max-width: 768px) {
  #scroll-mode {
    position: unset;
    top: unset;
    left: unset;
    transform: unset;

    width: 100%;
    margin-top: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

#scroll-mode img {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  object-fit: contain;
}

#scroll-mode a {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  background-color: #fff;

  /* Single line, dont break */
  white-space: nowrap;

  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  transition: all 0.3s;
  cursor: pointer;
}

#scroll-mode a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#scroll-mode a.active {
  background-color: #5F9BE3;
  color: white;
}