main .item-div {
  transition: unset;
  width: 500px;
}

@media screen and (max-width: 768px) {
  main .item-div {
    width: 90%;
  }

  main .item-div img {
    width: 100%;
  }
}

main .item-div:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: unset
}

main .item-div p.not-logged {
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
}

main #comments {
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main #comments h2 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

main #post_username {
  font-weight: bold;
  text-transform: uppercase;
}

main #comment_form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

main #comment_form textarea {
  width: 100%;
  min-height: 2rem;
  max-height: 10rem;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

main #comment_form button {
  margin: 1rem;
  padding: 0.5rem 1rem;

  outline: none;
  border: 1px solid #5F9BE3;
  border-radius: 5px;

  color: #fff;
  font-weight: bold;
  background-color: #5F9BE3;
  cursor: pointer;

  transition: all 0.3s ease;
}

main #comment_form button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

main #comment_form button:disabled {
  background-color: #ccc;
  border: 1px solid #ccc;
  cursor: not-allowed;
}

main #comment_form button:disabled:hover {
  box-shadow: none;
  transform: none;
}

main #comments_list,
main #comments_list .comment  {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

main #comments_list  {
  padding: 0 1rem;
}

main #comments_list .comment img {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  object-fit: contain;
}

main #comments_list .comment p {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  padding: 0;
  font-size: 0.9rem;
}

main #comments_list .comment:not(:last-of-type) {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

main #comments_list .comment p.user {
  font-weight: bold;
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  align-items: center;
}

main #share-div {
  width: 100%;
  padding: 1rem 1.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

main #share-div a {
  width: 30px;
  height: auto;
  margin: 0 0.5rem;
  background-color: transparent;
}

main #share-div img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 0;
  background-color: transparent;

  cursor: pointer;
  transition: all 0.3s ease;
}


main #share-div img:hover {
  transform: scale(1.1);
}